body{
	color: #3e3e3e;
	background-image:url('images/atmebg.jpg');
	height: 100%;
}
h3{
	//color: #2c84d7;
	color: #333333;
	font-family: lucida grande;
}
.latestmembers{
	border: 3px solid #2c84d7;
}
.searchresults{
	border: 2px solid #2c84d7;
}
.viewprof{
	color: #2c84d7;
}
.footer {
	font-size: 11px;
	font-family: lucida grande;
	text-align: right;
	color: #3e3e3e;
	vertical-align: bottom;
	margin-bottom: 0px;
	margin-right: 0px;
}
.register {
	color: #666666;
	font-size: 16px;
	font-family: lucida grande;
	margin-left: 50px;
}
.commentname {
	color: #666666;
	font-size: 16px;
	font-family: lucida grande;
	margin-left: 50px;
	text-align: right;
}
.hiddenCommentName {
	color: #c3c3c3;
	font-size: 16px;
	font-family: lucida grande;
	margin-left: 50px;
	text-align: right;
}
.commentdate {
	color: #666666;
	font-size: 10px;
	font-family: lucida grande;
	margin-left: 50px;
	text-align: right;
}
.hiddenCommentDate {
	color: #c3c3c3;
	font-size: 10px;
	font-family: lucida grande;
	margin-left: 50px;
	text-align: right;
}
.comment {
	color: #2c84d7;
	font-size: 16px;
	font-family: lucida grande;
	max-width: 500px;
}
.hiddenComment {
	color: #c3c3c3;
	font-size: 16px;
	font-family: lucida grande;
	max-width: 500px;
}
.search {
	color: #666666;
	font-size: 16px;
	font-family: lucida grande;
}
.banner {
	width: 100%;
}
.login {
	color: #666666;
	font-size: 12px;
	font-family: lucida grande;
	right: 0px;
	vertical-align: top;
}
.regbox{
	color: #2c84d7;
	background-image:url('images/inputbox.jpg');
	border: 1px solid #b5b5b5;
	font-size: 16px;
	padding: 5px;
	width: 250px;
}
.searchbox{
	color: #2c84d7;
	background-image:url('images/inputbox.jpg');
	border: 1px solid #b5b5b5;
	font-size: 14px;
	padding: 3px;
	width: 200px;
}
.navBar{
	background-color: #282828;
	width: 100%;
	height: 25px;
	top: 0px;
	left: 0px;
	
}
.adminbox{
	color: #2c84d7;
	background-image:url('images/inputbox.jpg');
	border: 1px solid #b5b5b5;
	font-size: 12px;
	padding: 2px;
	width: 200px;
}

.contbox{
	color: #2c84d7;
	background-image:url('images/inputbox.jpg');
	border: 1px solid #b5b5b5;
	font-size: 16px;
	padding: 5px;
	width: 500px;
}
.loginbox{
	color: #2c84d7;
	background-image:url('images/inputbox.jpg');
	border: 1px solid #b5b5b5;
	font-size: 11px;
	padding: 3px;
	width: 100px;
}
#maincontent{
	width: 1000px;
	height: 75%;
	min-height:600px;
	background: white;
	margin: auto;
	top: 50px;
	bottom: 50px;
	padding: 15px;
	border: 5px solid #2c84d7;
	
}
.nav{
	color: #666666;
	font-size: 12px;
	font-family: lucida grande;
	right: 0px;
	vertical-align: top;
}
a:link {
	text-decoration: none;
	color: #2c84d7;
	
}
a:visited {
	text-decoration: none;
	color: #2c84d7;
}
a:active {
	text-decoration: underline; color: 2c84d7;
}
a:hover {
	text-decoration: underline; color: 2c84d7;
}
.error {
  color: #FF0000;
  font-family: lucida grande;
}
.confirm {
  color: green;
  font-family: lucida grande;
}
.admopt {
  color: #FF0000;
  font-family: lucida grande;
  font-size: 10px;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
  valign: top;
}

img.profile {
  vertical-align: top;
}